::ng-deep .mat-form-field-label {
    color: white !important;
}

svg {
    fill : white !important;
    color: white !important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color  : white !important;
    opacity: 1 !important;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white !important;
}

input {
    color: white !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border: 1px solid white !important;
}