<!-- home -->
<section class="home">
    <!-- home bg -->
    <div class="owl-carousel home__bg">
        <div class="item home__cover" data-bg="../../../assets/img/home/home__bg.jpg"></div>
        <div class="item home__cover" data-bg="../../../assets/img/home/home__bg2.jpg"></div>
        <div class="item home__cover" data-bg="../../../assets/img/home/home__bg3.jpg"></div>
        <div class="item home__cover" data-bg="../../../assets/img/home/home__bg4.jpg"></div>
    </div>
    <!-- end home bg -->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="home__title"><b>NEW ITEMS</b> OF THIS SEASON</h1>

                <!-- <button class="home__nav home__nav--prev" type="button">
                    <i class="icon ion-ios-arrow-round-back"></i>
                </button>
                <button class="home__nav home__nav--next" type="button">
                    <i class="icon ion-ios-arrow-round-forward"></i>
                </button> -->
            </div>

            <div class="col-12">
                <owl-carousel-o [options]="customOptions">
                    <ng-container *ngFor="let m of movies">
                        <ng-template carouselSlide>
                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="{{m.posterUrl}}" alt="">
                                    <a [routerLink]="['/detail', m.id]" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title"><a [routerLink]="['/detail', m.id]">{{m.title}}</a></h3>
                                    <span class="card__category">
                                        <a [routerLink]="['/detail', m.id]">Action</a>
                                        <a [routerLink]="['/detail', m.id]">Triler</a>
                                    </span>
                                    <span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rate}}</span>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<!-- end home -->

<!-- content -->
<section class="content">
    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- content title -->
                    <h2 class="content__title">New items</h2>
                    <!-- end content title -->

                    <!-- content tabs nav -->
                    <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                        <li *ngFor="let g of genreList; let i = index" class="nav-item" (click)="getGenre(g)">
                            <a class="nav-link" data-toggle="tab" [attr.href]="'#tab-'+(i+1)" role="tab"
                                [ngClass]="{'active': i === 0}">{{g.name}}</a>
                        </li>
                    </ul>
                    <!-- end content tabs nav -->

                    <!-- content mobile tabs nav -->
                    <div class="content__mobile-tabs" id="content__mobile-tabs">
                        <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="button" value="New items">
                            <span></span>
                        </div>

                        <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                            <ul class="nav nav-tabs" role="tablist">

                                <li *ngFor="let g of genreList; let i = index" class="nav-item" (click)="getGenre(g)">
                                    <a class="nav-link" data-toggle="tab" [id]="(i+1)+'-tab'"
                                        [attr.href]="'#tab-'+(i+1)" role="tab"
                                        [ngClass]="{'active': i === 0}">{{g.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end content mobile tabs nav -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- content tabs -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                <div class="row">
                    <div *ngIf="movieList.length === 0" style="color: #ffffff">No movie found</div>
                    <!-- card -->
                    <div *ngFor="let m of movieList" class="col-6 col-sm-12 col-lg-6">
                        <div class="card card--list">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="card__cover">
                                        <img src="{{m.posterUrl}}" alt="">
                                        <a [routerLink]="['/detail', m.id]" class="card__play">
                                            <i class="icon ion-ios-play"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-8">
                                    <div class="card__content">
                                        <h3 class="card__title"><a [routerLink]="['/detail', m.id]">{{m.title}}</a></h3>
                                        <span class="card__category">
                                            <a *ngFor="let g of m.genres; let i = index"
                                                [routerLink]="['/detail', m.id]">{{g.name}}</a>
                                        </span>

                                        <div class="card__wrap">
                                            <span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rate}}</span>

                                            <ul class="card__list">
                                                <li>{{m.age_restricted}}+</li>
                                            </ul>
                                        </div>

                                        <div class="card__description">
                                            <p>{{m.overview}}.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div>

            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                <div class="row">
                    <div *ngIf="movieList.length === 0" style="color: #ffffff">No movie found</div>
                    <!-- card -->
                    <div *ngFor="let m of movieList" class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="{{m.posterUrl}}" alt="">
                                <a [routerLink]="['/detail', m.id]" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a [routerLink]="['/detail', m.id]">{{m.title}}</a></h3>
                                <span class="card__category">
                                    <a *ngFor="let g of m.genres; let i = index"
                                        [routerLink]="['/detail', m.id]">{{g.name}}</a>
                                </span>
                                <span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rate}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div>

            <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
                <div class="row">
                    <div *ngIf="movieList.length === 0" style="color: #ffffff">No movie found</div>
                    <!-- card -->
                    <div *ngFor="let m of movieList" class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="{{m.posterUrl}}" alt="">
                                <a [routerLink]="['/detail', m.id]" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a [routerLink]="['/detail', m.id]">{{m.title}}</a></h3>
                                <span class="card__category">
                                    <a *ngFor="let g of m.genres" [routerLink]="['/detail', m.id]">{{g.name}}</a>
                                </span>
                                <span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rate}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div>

            <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="4-tab">
                <div class="row">
                    <div *ngIf="movieList.length === 0" style="color: #ffffff">No movie found</div>
                    <!-- card -->
                    <div *ngFor="let m of movieList" class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="{{m.posterUrl}}" alt="">
                                <a style="font-size: 17px;" [routerLink]="['/detail', m.id]" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a [routerLink]="['/detail', m.id]">{{m.title}}</a></h3>
                                <span class="card__category">
                                    <a *ngFor="let g of m.genres; let i = index"
                                        [routerLink]="['/detail', m.id]">{{g.name}}</a>
                                </span>
                                <span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rate}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div>
        </div>
        <!-- end content tabs -->
    </div>
</section>
<!-- end content -->

<!-- expected premiere -->
<section class="section section--bg" data-bg="../../../assets/img/section/section.jpg">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12">
                <h2 class="section__title">Expected premiere</h2>
            </div>
            <!-- end section title -->

            <!-- card -->
            <div *ngFor="let m of newestMovie | slice : startPage:paginationLimit"
                class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="{{m.posterUrl}}" alt="">
                        <a [routerLink]="['/detail', m.id]" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title"><a [routerLink]="['/detail', m.id]">{{m.title}}</a></h3>
                        <span class="card__category">
                            <a *ngFor="let g of m.genres" [routerLink]="['/detail', m.id]">{{g.name}}</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rate}}</span>
                    </div>
                </div>
            </div>
            <!-- end card -->

            <!-- section btn -->
            <div class="col-12" *ngIf="paginationLimit < newestMovie.length" (click)="showMoreItems()">
                <a href="javascript:void(0)" class="section__btn">Show more</a>
            </div>
            <div class="col-12" *ngIf="paginationLimit >= newestMovie.length && newestMovie.length != 0"
                (click)="showLessItems()">
                <a href="javascript:void(0)" class="section__btn">Show less</a>
            </div>
            <!-- end section btn -->
        </div>
    </div>
</section>
<!-- end expected premiere -->

<!-- partners -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12">
                <h2 class="section__title section__title--no-margin">Our Partners</h2>
            </div>
            <!-- end section title -->

            <!-- section text -->
            <div class="col-12">
                <p class="section__text section__text--last-with-margin">It is a long <b>established</b> fact that a
                    reader will
                    be distracted by the readable content of a page when looking at its layout. The point of using Lorem
                    Ipsum is
                    that it has a more-or-less normal distribution of letters, as opposed to using.</p>
            </div>
            <!-- end section text -->

            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#" class="partner">
                    <img src="../../../assets/img/partners/themeforest-light-background.png" alt=""
                        class="partner__img">
                </a>
            </div>
            <!-- end partner -->

            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#" class="partner">
                    <img src="../../../assets/img/partners/audiojungle-light-background.png" alt=""
                        class="partner__img">
                </a>
            </div>
            <!-- end partner -->

            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#" class="partner">
                    <img src="../../../assets/img/partners/codecanyon-light-background.png" alt="" class="partner__img">
                </a>
            </div>
            <!-- end partner -->

            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#" class="partner">
                    <img src="../../../assets/img/partners/photodune-light-background.png" alt="" class="partner__img">
                </a>
            </div>
            <!-- end partner -->

            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#" class="partner">
                    <img src="../../../assets/img/partners/activeden-light-background.png" alt="" class="partner__img">
                </a>
            </div>
            <!-- end partner -->

            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#" class="partner">
                    <img src="../../../assets/img/partners/3docean-light-background.png" alt="" class="partner__img">
                </a>
            </div>
            <!-- end partner -->
        </div>
    </div>
</section>
<!-- end partners -->