<!-- page title -->
<section class="section section--first section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">Catalog list</h2>
                    <!-- end section title -->

                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="#">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Catalog list</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->

<!-- filter -->
<div class="filter">
    <div class="container">
        <form [formGroup]="searchForm" action="#">
            <div class="row">
                <div class="col-12">
                    <div class="filter__content">
                        <div class="filter__items">
                            <!-- filter item -->
                            <div class="filter__item" id="filter__genre">
                                <span class="filter__item-label">GENRE:</span>

                                <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-genre"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <ng-select [multiple]="true" formControlName="genreId" placeholder="Movie genre">
                                        <ng-option *ngFor="let g of genreList" [value]="g.id">{{g.name}}</ng-option>
                                    </ng-select>
                                </div>

                                <!-- <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-genre">
                                    <li>Action/Adventure</li>
                                    <li>Animals</li>
                                    <li>Animation</li>
                                    <li>Biography</li>
                                    <li>Comedy</li>
                                    <li>Cooking</li>
                                    <li>Dance</li>
                                    <li>Documentary</li>
                                    <li>Drama</li>
                                    <li>Education</li>
                                    <li>Entertainment</li>
                                    <li>Family</li>
                                    <li>Fantasy</li>
                                    <li>History</li>
                                    <li>Horror</li>
                                    <li>Independent</li>
                                    <li>International</li>
                                    <li>Kids</li>
                                    <li>Kids & Family</li>
                                    <li>Medical</li>
                                    <li>Military/War</li>
                                    <li>Music</li>
                                    <li>Musical</li>
                                    <li>Mystery/Crime</li>
                                    <li>Nature</li>
                                    <li>Paranormal</li>
                                    <li>Politics</li>
                                    <li>Racing</li>
                                    <li>Romance</li>
                                    <li>Sci-Fi/Horror</li>
                                    <li>Science</li>
                                    <li>Science Fiction</li>
                                    <li>Science/Nature</li>
                                    <li>Spanish</li>
                                    <li>Travel</li>
                                    <li>Western</li>
                                </ul> -->
                            </div>
                            <!-- end filter item -->

                            <!-- filter item -->
                            <div class="filter__item" id="filter__quality">
                                <span class="filter__item-label">COUNTRY:</span>

                                <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-quality"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <ng-select formControlName="countryId" placeholder="Movie country">
                                        <ng-option *ngFor="let c of countryList" [value]="c.id">{{c.name}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <!-- end filter item -->

                            <!-- filter item -->
                            <div class="filter__item" id="filter__rate">
                                <span class="filter__item-label">MOVIE RATE:</span>

                                <div class="filter__item-btn dropdown-toggle" role="button" id="filter-rate"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="0" step="0.5"
                                        min="0" max="5" aria-label="units" (change)="getRate($event)"></mat-slider>
                                </div>
                            </div>
                            <!-- end filter item -->

                            <!-- filter item -->
                            <div class="filter__item" id="filter__year">
                                <span class="filter__item-label">RELEASE DATE:</span>

                                <mat-form-field appearance="fill">
                                    <mat-label>Release date</mat-label>
                                    <input formControlName="releaseDate" matInput [matDatepicker]="picker">
                                    <mat-hint style="color: white;">MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <!-- end filter item -->
                        </div>

                        <!-- filter btn -->
                        <button class="filter__btn" type="button" (click)="search()">apply filter</button>
                        <!-- end filter btn -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end filter -->

<!-- catalog -->
<div class="catalog">
    <div class="container">
        <div class="row">
            <!-- card -->
            <div class="col-6 col-sm-12 col-lg-6" *ngFor="let m of movieList | slice : startPage:paginationLimit">
                <div class="card card--list">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="card__cover">
                                <img src="{{ m.posterUrl }}" alt="">
                                <a href="#" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-12 col-sm-8">
                            <div class="card__content">
                                <h3 class="card__title"><a href="#">{{ m.title }}</a></h3>
                                <span class="card__category">
                                    <a href="#" *ngFor="let g of m.genres">{{ g.name }}</a>
                                </span>

                                <div class="card__wrap">
                                    <span class="card__rate"><i class="icon ion-ios-star"></i>{{ m.rate }}</span>

                                    <ul class="card__list">
                                        <li>{{ m.ageRestricted }}</li>
                                    </ul>
                                </div>

                                <div class="card__description">
                                    <p>{{ m.overview }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card -->

            <!-- paginator -->
            <div class="col-12" *ngIf="paginationLimit < movieList.length" (click)="showMoreItems()">
                <a href="javascript:void(0)" class="section__btn">Show more</a>
            </div>
            <div class="col-12" *ngIf="paginationLimit >= movieList.length && movieList.length != 0"
                (click)="showLessItems()">
                <a href="javascript:void(0)" class="section__btn">Show less</a>
            </div>
            <!-- end paginator -->
        </div>
    </div>
</div>
<!-- end catalog -->